Código/Node-RED.json
[
    {
        "id": "5982222663ee6fc4",
        "type": "tab",
        "label": "Proyecto IoT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "72a8ebe720b06b7b",
        "type": "mysql",
        "z": "5982222663ee6fc4",
        "mydb": "5803fa2611410700",
        "name": "",
        "x": 730,
        "y": 1960,
        "wires": [
            [
                "ec9a3863ba729926"
            ]
        ]
    },
    {
        "id": "9e14ea6dc8d52b17",
        "type": "function",
        "z": "5982222663ee6fc4",
        "name": "From_Config",
        "func": "\nmsg.topic = `SELECT CONF.*, RAP.nombre as rapideznombre FROM Configuracion CONF INNER JOIN Rapidez RAP ON CONF.idrapidez = RAP.idrapidez;`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1880,
        "wires": [
            [
                "72a8ebe720b06b7b"
            ]
        ]
    },
    {
        "id": "e6156c0469b25096",
        "type": "inject",
        "z": "5982222663ee6fc4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "12",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 1880,
        "wires": [
            [
                "9e14ea6dc8d52b17"
            ]
        ]
    },
    {
        "id": "8080a44c51afc2c0",
        "type": "function",
        "z": "5982222663ee6fc4",
        "name": "From_Result",
        "func": "\nmsg.topic = \"SELECT * FROM Resultado;\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1960,
        "wires": [
            [
                "72a8ebe720b06b7b"
            ]
        ]
    },
    {
        "id": "690501a1dec10e9e",
        "type": "ui_table",
        "z": "5982222663ee6fc4",
        "group": "e4754ab9d0e2753f",
        "name": "Tabla_Config",
        "order": 1,
        "width": 12,
        "height": 6,
        "columns": [
            {
                "field": "idConfiguracion",
                "title": "No. Configuración",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Cantidad_Polimero",
                "title": "Polimero [ml]",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "rapideznombre",
                "title": "Rapidez",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Rotor_Tiempo",
                "title": "Tiempo [s]",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Tiempo_Reposo",
                "title": "Reposo [s]",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1030,
        "y": 1940,
        "wires": []
    },
    {
        "id": "ec9a3863ba729926",
        "type": "switch",
        "z": "5982222663ee6fc4",
        "name": "",
        "property": "payload[0].idConfiguracion",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 1960,
        "wires": [
            [
                "690501a1dec10e9e"
            ],
            [
                "7b9d35b23ff3ea1a"
            ]
        ]
    },
    {
        "id": "7b9d35b23ff3ea1a",
        "type": "ui_table",
        "z": "5982222663ee6fc4",
        "group": "85c43f7e029f533d",
        "name": "Tabla_Result",
        "order": 1,
        "width": "6",
        "height": 6,
        "columns": [
            {
                "field": "Configuracion_idConfiguracion",
                "title": "No. Configuración",
                "width": "30%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "PH",
                "title": "pH",
                "width": "20%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Fecha",
                "title": "Fecha",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1030,
        "y": 1980,
        "wires": []
    },
    {
        "id": "d16a5321cf1ccf2a",
        "type": "mqtt in",
        "z": "5982222663ee6fc4",
        "name": "DetallesTanque1",
        "topic": "Test/ESP32/DetallesTanque1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "200ad880c61829d8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 1120,
        "wires": [
            [
                "7ce03d870c1fbb84"
            ]
        ]
    },
    {
        "id": "499aa3c7330e3da9",
        "type": "ui_switch",
        "z": "5982222663ee6fc4",
        "name": "",
        "label": "Lavadora lista",
        "tooltip": "",
        "group": "4c20616487422362",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 220,
        "y": 100,
        "wires": [
            [
                "85608fb0af7b52f5"
            ]
        ]
    },
    {
        "id": "85608fb0af7b52f5",
        "type": "mqtt out",
        "z": "5982222663ee6fc4",
        "name": "EncenderBombaStart",
        "topic": "Test/ESP32/Start",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "200ad880c61829d8",
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "bcba8a828382d72c",
        "type": "mqtt in",
        "z": "5982222663ee6fc4",
        "name": "DetallesTanque2",
        "topic": "Test/ESP32/DetallesTanque2",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "200ad880c61829d8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 1180,
        "wires": [
            [
                "fd76026670e0318b"
            ]
        ]
    },
    {
        "id": "5f5d58d8bf95f0b7",
        "type": "mqtt in",
        "z": "5982222663ee6fc4",
        "name": "DetallesPolimero",
        "topic": "Test/ESP32/DetallesPolimero",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "200ad880c61829d8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 1280,
        "wires": [
            [
                "57dfefd02788f9b8"
            ]
        ]
    },
    {
        "id": "1b602bc2d225dc53",
        "type": "mqtt in",
        "z": "5982222663ee6fc4",
        "name": "DetallesResiduo",
        "topic": "Test/ESP32/DetallesResiduo",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "200ad880c61829d8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 1460,
        "wires": [
            [
                "86d159f4afb9506a"
            ]
        ]
    },
    {
        "id": "cf7f9975d9baa40a",
        "type": "mqtt in",
        "z": "5982222663ee6fc4",
        "name": "DetallesAgitacion",
        "topic": "Test/ESP32/DetallesAgitacion",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "200ad880c61829d8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 1340,
        "wires": [
            [
                "3b87b10ec75896d2"
            ]
        ]
    },
    {
        "id": "aa421524c7878a9f",
        "type": "ui_led",
        "z": "5982222663ee6fc4",
        "order": 1,
        "group": "bddba12225da179d",
        "width": 4,
        "height": 1,
        "label": "Llenado",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#53b404",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#949494",
                "value": "0",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Llenado",
        "x": 200,
        "y": 640,
        "wires": []
    },
    {
        "id": "e01f9742b7fbc641",
        "type": "ui_dropdown",
        "z": "5982222663ee6fc4",
        "name": "",
        "label": "Rapidez de agitación",
        "tooltip": "",
        "place": "Seleccionar",
        "group": "6c35360ed76c350f",
        "order": 2,
        "width": 9,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Lento",
                "value": "1",
                "type": "str"
            },
            {
                "label": "Medio",
                "value": "2",
                "type": "str"
            },
            {
                "label": "Rapido",
                "value": "3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "3e09729337ddd31b"
            ]
        ]
    },
    {
        "id": "018b15b4f84a4cc4",
        "type": "ui_led",
        "z": "5982222663ee6fc4",
        "order": 3,
        "group": "bddba12225da179d",
        "width": 4,
        "height": 1,
        "label": "Sedimentación",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#53b404",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#949494",
                "value": "0",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Sedimentación",
        "x": 220,
        "y": 720,
        "wires": []
    },
    {
        "id": "4014ebc36fb24dc7",
        "type": "ui_led",
        "z": "5982222663ee6fc4",
        "order": 5,
        "group": "bddba12225da179d",
        "width": 4,
        "height": 1,
        "label": "Filtrado",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#53b404",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#949494",
                "value": "0",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Filtrado",
        "x": 200,
        "y": 800,
        "wires": []
    },
    {
        "id": "692f5c40d8d52f51",
        "type": "mqtt in",
        "z": "5982222663ee6fc4",
        "name": "EstadoLlenado",
        "topic": "Test/ESP32/EstadoLlenado",
        "qos": "0",
        "datatype": "utf8",
        "broker": "200ad880c61829d8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 700,
        "wires": [
            [
                "aa421524c7878a9f",
                "0bc761f6c8b76dae"
            ]
        ]
    },
    {
        "id": "63c7c30454550071",
        "type": "mqtt in",
        "z": "5982222663ee6fc4",
        "name": "EstadoSedimentacion",
        "topic": "Test/ESP32/EstadoSedimentacion",
        "qos": "0",
        "datatype": "utf8",
        "broker": "200ad880c61829d8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 780,
        "wires": [
            [
                "018b15b4f84a4cc4",
                "0b22a8202dbd619a"
            ]
        ]
    },
    {
        "id": "c3af082149baec4b",
        "type": "mqtt in",
        "z": "5982222663ee6fc4",
        "name": "EstadoFiltrado",
        "topic": "Test/ESP32/EstadoFiltrado",
        "qos": "0",
        "datatype": "utf8",
        "broker": "200ad880c61829d8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 860,
        "wires": [
            [
                "4014ebc36fb24dc7",
                "a3fada41adfcddd3"
            ]
        ]
    },
    {
        "id": "2c1b53852a34965f",
        "type": "mqtt out",
        "z": "5982222663ee6fc4",
        "name": "CantidadPolimero",
        "topic": "Test/ESP32/ValorPol",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "200ad880c61829d8",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "c6cb50cf99f88f9a",
        "type": "mqtt out",
        "z": "5982222663ee6fc4",
        "name": "RotorTiempo",
        "topic": "Test/ESP32/ValorAgit",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "200ad880c61829d8",
        "x": 590,
        "y": 340,
        "wires": []
    },
    {
        "id": "3e09729337ddd31b",
        "type": "mqtt out",
        "z": "5982222663ee6fc4",
        "name": "RotorRapidez",
        "topic": "Test/ESP32/ValorRap",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "200ad880c61829d8",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "5a4b1d020d00b643",
        "type": "mqtt out",
        "z": "5982222663ee6fc4",
        "name": "TiempoReposo",
        "topic": "Test/ESP32/ValorRep",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "200ad880c61829d8",
        "x": 600,
        "y": 400,
        "wires": []
    },
    {
        "id": "a3fada41adfcddd3",
        "type": "ui_led",
        "z": "5982222663ee6fc4",
        "order": 1,
        "group": "85c6179504a7b491",
        "width": 6,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ee00ff",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#949494",
                "value": "0",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "Filtrado",
        "x": 760,
        "y": 860,
        "wires": []
    },
    {
        "id": "7ce03d870c1fbb84",
        "type": "ui_text",
        "z": "5982222663ee6fc4",
        "group": "5a127441482d46b7",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado del tanque 1:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 440,
        "y": 1120,
        "wires": []
    },
    {
        "id": "fd76026670e0318b",
        "type": "ui_text",
        "z": "5982222663ee6fc4",
        "group": "5a127441482d46b7",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado del tanque 2:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 440,
        "y": 1180,
        "wires": []
    },
    {
        "id": "57dfefd02788f9b8",
        "type": "ui_led",
        "z": "5982222663ee6fc4",
        "order": 2,
        "group": "be952ad7fdc75d10",
        "width": 6,
        "height": 1,
        "label": "Adición de polímero",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#3f8406",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#949494",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Polimero",
        "x": 520,
        "y": 1280,
        "wires": []
    },
    {
        "id": "3b87b10ec75896d2",
        "type": "ui_led",
        "z": "5982222663ee6fc4",
        "order": 3,
        "group": "be952ad7fdc75d10",
        "width": 6,
        "height": 1,
        "label": "Agitación",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#3f8406",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#949494",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Agitación",
        "x": 520,
        "y": 1340,
        "wires": []
    },
    {
        "id": "86d159f4afb9506a",
        "type": "ui_led",
        "z": "5982222663ee6fc4",
        "order": 5,
        "group": "be952ad7fdc75d10",
        "width": 6,
        "height": 1,
        "label": "Extracción de lodos",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#3f8406",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#949494",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Extracción de lodos",
        "x": 550,
        "y": 1460,
        "wires": []
    },
    {
        "id": "c07c0a52cd9c1363",
        "type": "mqtt in",
        "z": "5982222663ee6fc4",
        "name": "DetallesReposo",
        "topic": "Test/ESP32/DetallesReposo",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "200ad880c61829d8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 1400,
        "wires": [
            [
                "d6151d7d09c292d4"
            ]
        ]
    },
    {
        "id": "d6151d7d09c292d4",
        "type": "ui_led",
        "z": "5982222663ee6fc4",
        "order": 4,
        "group": "be952ad7fdc75d10",
        "width": 6,
        "height": 1,
        "label": "Reposo",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#3f8406",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#949494",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Reposo",
        "x": 520,
        "y": 1400,
        "wires": []
    },
    {
        "id": "263bc17c806489f8",
        "type": "mqtt in",
        "z": "5982222663ee6fc4",
        "name": "DetallesTanque3",
        "topic": "Test/ESP32/DetallesTanque3",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "200ad880c61829d8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 1560,
        "wires": [
            [
                "4a2bf68a23ae8a75"
            ]
        ]
    },
    {
        "id": "cdeac30cd2e7fbdd",
        "type": "mqtt in",
        "z": "5982222663ee6fc4",
        "name": "DetallesTanque4",
        "topic": "Test/ESP32/DetallesTanque4",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "200ad880c61829d8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 1620,
        "wires": [
            [
                "cdecbcd68ab98746"
            ]
        ]
    },
    {
        "id": "4a2bf68a23ae8a75",
        "type": "ui_text",
        "z": "5982222663ee6fc4",
        "group": "85c6179504a7b491",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado del tanque 3:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 1560,
        "wires": []
    },
    {
        "id": "cdecbcd68ab98746",
        "type": "ui_text",
        "z": "5982222663ee6fc4",
        "group": "85c6179504a7b491",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado del tanque 4:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 1620,
        "wires": []
    },
    {
        "id": "0b22a8202dbd619a",
        "type": "ui_led",
        "z": "5982222663ee6fc4",
        "order": 1,
        "group": "be952ad7fdc75d10",
        "width": 6,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ee00ff",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#949494",
                "value": "0",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "Sedimentación",
        "x": 780,
        "y": 780,
        "wires": []
    },
    {
        "id": "0bc761f6c8b76dae",
        "type": "ui_led",
        "z": "5982222663ee6fc4",
        "order": 1,
        "group": "5a127441482d46b7",
        "width": 6,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ee00ff",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#949494",
                "value": "0",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "Llenado",
        "x": 760,
        "y": 700,
        "wires": []
    },
    {
        "id": "dae09043cf17f64a",
        "type": "inject",
        "z": "5982222663ee6fc4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 1960,
        "wires": [
            [
                "8080a44c51afc2c0"
            ]
        ]
    },
    {
        "id": "29dfe725d07e4dd0",
        "type": "function",
        "z": "5982222663ee6fc4",
        "name": "INTO_Config",
        "func": "\nmsg.topic = `INSERT INTO mydb.configuracion (Rotor_Tiempo, Tiempo_Reposo, Cantidad_Polimero, idrapidez) \nSELECT * FROM (SELECT \n\t${msg.payload.varAgit}, ${msg.payload.varRep}, ${msg.payload.varPol}, ${msg.payload.varRap}\n\t\t) AS temp\n    WHERE NOT EXISTS (\n\tSELECT Rotor_Tiempo, Tiempo_Reposo, Cantidad_Polimero, idrapidez\n\t\t\tFROM mydb.configuracion WHERE Rotor_Tiempo=${msg.payload.varAgit} \n\t\t\tAND Tiempo_Reposo=${msg.payload.varRep}\n\t\t\tAND Cantidad_Polimero=${msg.payload.varPol} AND idrapidez=${msg.payload.varRap} );`;\n\n\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 2080,
        "wires": [
            [
                "72a8ebe720b06b7b"
            ]
        ]
    },
    {
        "id": "1dc36095ecf25f1c",
        "type": "mqtt in",
        "z": "5982222663ee6fc4",
        "name": "INTOConfig",
        "topic": "Test/ESP32/IntoConfig",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "200ad880c61829d8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 2080,
        "wires": [
            [
                "e5a26e27c74e1d20"
            ]
        ]
    },
    {
        "id": "f3b0d5417f2089b1",
        "type": "mqtt in",
        "z": "5982222663ee6fc4",
        "name": "INTOResult",
        "topic": "Test/ESP32/IntoResult",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "200ad880c61829d8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 2140,
        "wires": [
            [
                "5960bb7f16088f72"
            ]
        ]
    },
    {
        "id": "e7fc7ba0990b8df4",
        "type": "function",
        "z": "5982222663ee6fc4",
        "name": "INTO_Result",
        "func": "\nmsg.topic = `INSERT INTO Resultado (PH, Configuracion_idConfiguracion, Fecha) \n\tSELECT ${msg.payload.ph} AS PH, \n\tidConfiguracion AS Configuracion_idConfiguracion, CURDATE() as Fecha\n\tFROM mydb.configuracion WHERE Rotor_Tiempo=${msg.payload.varAgit} \n\t\t\tAND Tiempo_Reposo=${msg.payload.varRep}\n\t\t\tAND Cantidad_Polimero=${msg.payload.varPol} \n\t\t\tAND idrapidez=${msg.payload.varRap};`;\n\n\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 2140,
        "wires": [
            [
                "72a8ebe720b06b7b"
            ]
        ]
    },
    {
        "id": "e5a26e27c74e1d20",
        "type": "json",
        "z": "5982222663ee6fc4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 350,
        "y": 2080,
        "wires": [
            [
                "29dfe725d07e4dd0"
            ]
        ]
    },
    {
        "id": "5960bb7f16088f72",
        "type": "json",
        "z": "5982222663ee6fc4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 350,
        "y": 2140,
        "wires": [
            [
                "e7fc7ba0990b8df4"
            ]
        ]
    },
    {
        "id": "600ca9cffe75f688",
        "type": "comment",
        "z": "5982222663ee6fc4",
        "name": "Estado del proceso",
        "info": "",
        "x": 370,
        "y": 40,
        "wires": []
    },
    {
        "id": "25ee566ac9983bea",
        "type": "comment",
        "z": "5982222663ee6fc4",
        "name": "Etapas",
        "info": "",
        "x": 450,
        "y": 580,
        "wires": []
    },
    {
        "id": "467f64c291f25e55",
        "type": "comment",
        "z": "5982222663ee6fc4",
        "name": "Detalles de etapas",
        "info": "",
        "x": 470,
        "y": 1040,
        "wires": []
    },
    {
        "id": "424a17c654cab616",
        "type": "comment",
        "z": "5982222663ee6fc4",
        "name": "Historial",
        "info": "",
        "x": 580,
        "y": 1800,
        "wires": []
    },
    {
        "id": "549cd455980b49d2",
        "type": "ui_text_input",
        "z": "5982222663ee6fc4",
        "name": "",
        "label": "Tiempo de agitación [s]",
        "tooltip": "",
        "group": "6c35360ed76c350f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "c6cb50cf99f88f9a"
            ]
        ]
    },
    {
        "id": "8fb762e551c4fa6e",
        "type": "ui_text_input",
        "z": "5982222663ee6fc4",
        "name": "",
        "label": "Tiempo de reposo [s]",
        "tooltip": "",
        "group": "6c35360ed76c350f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "5a4b1d020d00b643"
            ]
        ]
    },
    {
        "id": "6342a4b3607739a5",
        "type": "ui_text_input",
        "z": "5982222663ee6fc4",
        "name": "",
        "label": "Cantidad de Polímero [ml]",
        "tooltip": "",
        "group": "6c35360ed76c350f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "2c1b53852a34965f"
            ]
        ]
    },
    {
        "id": "55a186f796c1a19e",
        "type": "ui_spacer",
        "z": "5982222663ee6fc4",
        "name": "spacer",
        "group": "bddba12225da179d",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "8d4924db82fb94be",
        "type": "ui_spacer",
        "z": "5982222663ee6fc4",
        "name": "spacer",
        "group": "bddba12225da179d",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "830717250e98b9cd",
        "type": "ui_spacer",
        "z": "5982222663ee6fc4",
        "name": "spacer",
        "group": "bddba12225da179d",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "5803fa2611410700",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "mydb",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "e4754ab9d0e2753f",
        "type": "ui_group",
        "name": "Configuración",
        "tab": "fa6a5b1044c5e344",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "85c43f7e029f533d",
        "type": "ui_group",
        "name": "Resultados",
        "tab": "fa6a5b1044c5e344",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "200ad880c61829d8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4c20616487422362",
        "type": "ui_group",
        "name": "Inicio",
        "tab": "6c7b1eb7157d5482",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bddba12225da179d",
        "type": "ui_group",
        "name": "Etapa",
        "tab": "6c7b1eb7157d5482",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6c35360ed76c350f",
        "type": "ui_group",
        "name": "Configuración",
        "tab": "6c7b1eb7157d5482",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "85c6179504a7b491",
        "type": "ui_group",
        "name": "Filtrado",
        "tab": "c45ea82dbe4fcc94",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5a127441482d46b7",
        "type": "ui_group",
        "name": "Llenado",
        "tab": "c45ea82dbe4fcc94",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "be952ad7fdc75d10",
        "type": "ui_group",
        "name": "Sedimentación",
        "tab": "c45ea82dbe4fcc94",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fa6a5b1044c5e344",
        "type": "ui_tab",
        "name": "Historial",
        "icon": "history",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6c7b1eb7157d5482",
        "type": "ui_tab",
        "name": "Estado del proceso",
        "icon": "home",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c45ea82dbe4fcc94",
        "type": "ui_tab",
        "name": "Detalles de etapas",
        "icon": "details",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]